.redText {
    color: red;
    font-weight: bold;
}

.grayText {
    color: gray;
    font-weight: bold;
}

.right {
    float: right !important
}

.vl {
    border-left: 2px solid gray;
    height: inherit;
}

.myGreen {
    color: #198754;
    border-color: #198754;
}

.signInBtn {
    padding: 0;
    border: none;
    background: none;
}

.btn{
    box-shadow: none !important
}

.btnRight{
    margin-left: 800px;
}